################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ELearningWebAPI/packages
/ELearningWebAPI/ELearningWEBAPI/Areas/HelpPage/ModelDescriptions
/ELearningWebAPI
