<div class="courselist container">
    <div class = "row">
        <div class = "col m-4">
                <p>Course Name : {{courses.coursename}}</p>
                <p>File Name : {{courses.filename}}</p>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" style="float: right;" (click)="download()"> 
                            <mat-icon class="icon">save_alt</mat-icon>
                        </button>
                    </div>
                </div>
        </div>
    </div>  
</div>
