<section class="home is-info is-fullheight is-bold">
    <div class="container">
        <h3 style="font-size: 28px;">Welcome {{currentUser.username}}</h3>
        <div style="text-align:center">
            <h1 style="color:crimson;">Angular Elearning Application</h1>
            <p>
              <br> Lets get Started
            </p>
            
                 <p
                    routerLink="/dashboard">
                      <mat-icon class="icon">input</mat-icon>
                      <span class="label">Continue</span>
                </p>
            
          </div>
    </div>
    <div class="container"></div>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}}
            - <a (click)="deleteUser(user.userid)" class="text-danger">Delete</a>
        </li>
    </ul>
</section>
